<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="../../assest/css/style.css">
</head>

<body>
    <div class="container">
        <h2>Log in</h2>

        <input class="input-text" type="text" id="Username" placeholder="Username">
        <input class="input-text" type="password" id="Password" placeholder="Password">
        <a class="link" href="./register.html">Register</a>
        <a class="link" href="../navbar.html"></a>
        <button class="button" onclick="loadData()">Login</button>

    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="application/javascript" src="/js/segurity/login.js"></script>
<script>

</script>

</html>