/* style.css */

th {
    background-color: #007bff;
    /* Cambia el color de fondo de los encabezados */
    color: white;
    /* Cambia el color del texto de los encabezados */
    border: 1px solid black;
    /* Establece el borde negro para las celdas de encabezado */
}

/* Cambia el color de fondo de las filas */
tbody tr {
    background-color: lightgray;
}

/* Cambia el color de fondo de las filas al pasar el mouse */
tbody tr:hover {
    background-color: gray;
}

/* Estilos para los botones Edit */
button.edit {
    background-color: #007bff;
    /* Cambia el color de fondo del botón Edit a azul */
    color: white;
    /* Cambia el color del texto del botón Edit */
    border: none;
    /* Quita el borde del botón Edit */
    padding: 10px 20px;
    /* Ajusta el espaciado interno del botón Edit */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón Edit */
    border-radius: 3px;
    /* Redondea los bordes del botón Edit */
    margin-right: 5px;
    /* Agrega un margen derecho de 5px */
}

/* Estilos para los botones Delete */
button.delete {
    background-color: #dc3545;
    /* Cambia el color de fondo del botón Delete a rojo */
    color: white;
    /* Cambia el color del texto del botón Delete */
    border: none;
    /* Quita el borde del botón Delete */
    padding: 10px 20px;
    /* Ajusta el espaciado interno del botón Delete */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón Delete */
    border-radius: 3px;
    /* Redondea los bordes del botón Delete */
    margin-right: 5px;
    /* Agrega un margen derecho de 5px */
}

/* Estilos para la tabla */
table {
    border-collapse: collapse;
    /* Fusiona los bordes de las celdas */
    width: 100%;
    /* Ocupa el 100% del ancho disponible */
    border-radius: 5px;
    /* Redondea los bordes de la tabla */
    overflow: hidden;
    /* Evita que el contenido redondeado se desborde */
}

/* Estilos para las celdas de la tabla */
td,
th {
    border: 1px solid black;
    /* Establece el borde negro para las celdas */
    text-align: left;
    /* Alinea el texto a la izquierda */
    padding: 8px;
    /* Ajusta el espaciado interno de las celdas */
}

button.delete:hover {
    background-color: #c82333;
    /* Cambia el color de fondo del botón Delete a rojo más oscuro */
}

button.edit:hover {
    background-color: #0056b3;
    /* Cambia el color de fondo del botón Edit a azul más oscuro */
}

/* Estilos para el modal */
.modal {
    display: none;
    /* Ocultar por defecto */
    position: fixed;
    /* Posición fija */
    z-index: 1;
    /* Encima de todo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* Fondo semi-transparente */
}

/* Estilos para el contenido del modal */
.modal-content {
    background-color: #fff;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    /* Habilita el desplazamiento vertical */
    max-height: calc(100vh - 200px);
    /* Establece la altura máxima para el contenido */
}

/* Estilos para el botón de cerrar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para los campos de entrada */
.modal-content input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.button {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.button:hover {
    background-color: #0056b3;
}


/* Estilos para el enlace */
.modal-content .link {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 10px;
}

/* Estilos para el contenedor de la dirección */
.modal-content .address-container {
    display: flex;
    align-items: center;
}


.input-text {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para el botón Agregar Persona */
#openModalBtn {
    width: calc(20% - 20px);
    background-color: #28a745;
    /* Cambia el color de fondo a verde */
    color: white;
    /* Cambia el color del texto a blanco */
    border: none;
    /* Quita el borde */
    padding: 5px 10px;
    /* Ajusta el espaciado interno para que sea más pequeño */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    border-radius: 3px;
    /* Redondea los bordes */
    margin-bottom: 10px;
    /* Ajusta el margen inferior */
    float: right;
    /* Alinea el botón a la derecha */
}

#openModalBtn:hover {
    background-color: #218838;
    /* Cambia el color de fondo al pasar el mouse */
}